@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>Buffteks Project Management Web Application</h3>

<p>
We are completing a website to manage Buffteks projects, students, and clients.
You will use ASP.NET MVC Core 2.0 to build a web application subject to the following requirements:
<ul>
    <li>Using Entity Framework,  you will maintain a SQLite database for the following entities:</li>
    <ul>
        <li>Member - A member of the Buffteks</li>
        <li>Client - A client who provides a project to the Buffteks members</li>
        <li>Project - A project for Members and Clients to collaborate on</li>
    </ul>
    <li>Using Scaffolding, create Controllers and Views to manage the Create, Read, Update, and Delete operations for each of the entities above</li>
    <li>Data seeding:</li>
    <ul>
        <li>Create at least two projects</li>
        <li>Create at least two clients</li>
        <li>Create at least ten Members</li>
    </ul>
    <li>Assignment Members and Clients to Projects</li>
    <li>Be able to search/filter for Clients or Members by Project (this can't be scaffolded)</li>
    <li>Use Layouts and Views and Bootstrap 4 to create a unique visual appearance and style for your app</li>
</ul>
<b>Submission Requirements:</b>
ZIP up your solution folder and submit to this dropbox.  Also, provide the URL to the Github repository you've used for this project. BOTH ARE REQUIRED or you will receive ZERO credit for this project.
</p>
